<style>
  .main{
    min-height:100vh;
    padding-bottom: 50px;
  }
  .header {
    display: flex;
    align-items: center;
  }

  .header svg {
    height: 100%;
    width: 100%;
  }

</style>

<tui-root>
  <div class="tui-container tui-container_fullwidth main">
    <div class="header">
      <h1 class="tui-text_h1">
        Расписание МЦК-ЧЭМК

      </h1>
    </div>
    <div class="tui-row tui-row_adaptive">
      <div class="tui-col_xs-12 tui-col_md-3 tui-col_lg-2">
        <tui-island>
          <h3 class="tui-island__title">1 корпус</h3>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/1korp/today.htm" class=" ">
              На сегодня
            </a>
          </p>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/1korp/tomorrow.htm" class=" ">
              Следующее
            </a>
          </p>
        </tui-island>
      </div>
      <div class="tui-col_xs-12 tui-col_md-3 tui-col_lg-2">
        <tui-island>
          <h3 class="tui-island__title">2 корпус</h3>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/2korp/today.htm" class=" ">
              На сегодня
            </a>
          </p>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/2korp/tomorrow.htm" class=" ">
              Следующее
            </a>
          </p>
        </tui-island>
      </div>
      <div class="tui-col_xs-12 tui-col_md-3 tui-col_lg-2">
        <tui-island>
          <h3 class="tui-island__title">3 корпус</h3>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/3korp/today.htm" class=" ">
              На сегодня
            </a>
          </p>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/3korp/tomorrow.htm" class=" ">
              Следующее
            </a>
          </p>
        </tui-island>
      </div>
      <div class="tui-col_xs-12 tui-col_md-3 tui-col_lg-2">
        <tui-island>
          <h3 class="tui-island__title">4 корпус</h3>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/4korp/today.htm" class=" ">
              На сегодня
            </a>
          </p>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/4korp/tomorrow.htm" class=" ">
              Следующее
            </a>
          </p>
        </tui-island>
      </div>
      <div class="tui-col_xs-12 tui-col_md-3 tui-col_lg-2">
        <tui-island>
          <h3 class="tui-island__title">5 корпус</h3>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/5korp/today.htm" class=" ">
              На сегодня
            </a>
          </p>
          <p>
            <a tuiButton type="button" href="http://rsp.chemk.org/5korp/tomorrow.htm" class=" ">
              Следующее
            </a>
          </p>
        </tui-island>
      </div>
    </div>
  </div>
  <div class="tui-container tui-container_fullwidth footer">
    <p>Developed by <a target="_blank" href="https://t.me/blvckheart0">blvckheart0</a></p>
  </div>
</tui-root>
